# Core libraries
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
scikit-learn>=1.2.0
tqdm>=4.65.0

# Text processing
nltk>=3.8.0
spacy>=3.6.0
transformers>=4.28.0
sentencepiece>=0.1.99
sentence-transformers>=2.2.2
datasets>=2.12.0

# Deep learning
torch>=2.0.0
accelerate>=0.19.0
bitsandbytes>=0.39.0

# Web & API
flask>=2.3.0

# Visualization
seaborn>=0.12.0
plotly>=5.14.0
wordcloud>=1.9.0
jupyter>=1.0.0
notebook>=7.0.0

# Utilities
python-telegram-bot>=20.3.0
requests>=2.31.0
pyyaml>=6.0.1
python-dotenv>=1.0.0

# Для SpaCy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl 